# ===============================
# Ambiente
# ===============================
NODE_ENV=production

# ===============================
# Tibia
# ===============================
WORLD_NAME=Ourobra

# ===============================
# Mongo
# ===============================
MONGO_URI=mongodb://127.0.0.1:27017/bot

# ===============================
# TeamSpeak
# ===============================
TS3_HOST=127.0.0.1
TS3_QUERY_HOST=127.0.0.1
TS3_QUERY_PORT=10011
TS3_QUERY_USER=serveradmin
TS3_QUERY_PASSWORD=COLOQUE_AQUI

# ===============================
# Twitch
# ===============================
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNELS=
TWITCH_CHECK_INTERVAL_MINUTES=2

# ===============================
# Guild Sync
# ===============================
GUILD_AUTO_SYNC_NAME=
GUILD_AUTO_SYNC_INTERVAL_MINUTES=30

# ===============================
# Web Panel
# ===============================
WEB_PORT=3000
WEB_SECRET=sua_chave_secreta
WEB_ADMIN_USER=admin
WEB_ADMIN_PASS_HASH=HASH_DA_SENHA
